/***************************************
GENERAL
****************************************/

body {
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
	max-width: 940px;
	margin:0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}

input {
	border: 3px solid #cccccc;
	border-radius: 5px;
	padding: 5px;
	max-width: 100%;
}



/***************************************
HEADING
****************************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: 'Changa One', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-size: 0.75em;
	margin: -5px 0 0;
	font-weight: normal;
}



/***************************************
NAVIGATION
****************************************/

nav, .breadcrumb{
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul, .breadcrumb ul {
	list-style: none;
	margin:0 10px;
	padding: 0;
}

nav li, .breadcrumb li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}

.breadcrumb a {
	padding: 15px 10px;
}

#container {
margin: -70px 0 20px 0;
}

.button, .buttons {
    padding: 5px 10px;
    font: 1.5em sans-serif;
	border-radius: 45px;
	text-align: center;
	display: block;
	margin: auto;
	width: 80px;
}

/***************************************
FOOTER
****************************************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
}



/***************************************
PAGE: HOME
****************************************/

.intro {
	margin: 0px 0 -20px 0;
}

.task {
	margin: 0 0 3em 0;
	font-size: 1.75em;
}

.intro, .task, h4, .hint {	
	text-align: center;
}

.answer, .answerb, .answern, .hint {
	display: block;
	margin: 2em auto 2em auto;
	font-size: 1em;
}

textarea {
	padding: 5px;
}



/***************************************
PAGE: START
****************************************/

 /* Stopwatch design */
	  
#runner {
	display: block;
	margin: 60px auto 20px auto;
	text-align: center;
	font-size: 3em;
}
		
/* Stopwatch controls */

#controls ul {
	list-style: none;
	padding: 0;
}
		
#start, #stop  {
    padding: 5px 10px;
    font: 1.5em sans-serif;
	border-radius: 45px;
	border: 1px solid;
	text-align: center;
	display: block;
	margin: 0 auto 60px auto;
	width: 80px;
}



/***************************************
PAGE: CONTACT
****************************************/

h3 {
	margin: 0;
}

.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 16px 0 10px 0;
}

.contact-info li.mail a {
	background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
	background-image: url('../img/twitter.png');
}
	  


/***************************************
COLORS
****************************************/

/* site body */
body {
	background-color: #fff;
	color: #999;
}

/* blue header */
header {
	background: #fff;
	border-color: #fff;
}

/* nav background on mobile */
nav {
	background: #17405C;
}

/* logo text */
h1, h2 {
	color: #2e80b9;
}

/* links */
a {
	color: #2e80b9;
}

/* nav link */
nav a, nav a:visited {
	color: #2e80b9;
}

/* selected nav link,*/
nav a.selected, nav a:hover {
	color: #abcce3;
}

/* breadcrum link */
.breadcrumb, .breadcrumb a:visited {
	color: #2e80b9;
}
/* breadcrumb link selected */
.breadcrumb a.selected, .breadcrumb a:hover {
	color: #abcce3;
}

/* Stopwatch start control */
	#start {
	background-color: #fff;
	border-color: #7bc945;
	color: #7bc945;
	}
	
/* Stopwatch start control selected*/
	#start:hover {
	background-color: #fff;
	border-color: #b9d696;
	color: #b9d696;
	}
	
/* Stopwatch stop control */
	#stop {
	background-color: #fff;
	border-color: #e62c31;
	color: #e62c31;
	}
	
/* Stopwatch start control selected*/
	#stop:hover {
	background-color: #fff;
	border-color: #f18d7a;
	color: #f18d7a;
	}

/* button */
.button, .buttons {
	background-color: #2e80b9;
	color: #fff;
}

/* selected button */
.button:hover, .buttons:hover {
	background-color: #abcce3;
}

/* footer */
footer {
color: #ccc;
}