/***************************************
GENERAL
****************************************/

body {
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
	max-width: 940px;
	margin:0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}

input {
	border: 3px solid #cccccc;
	border-radius: 5px;
	padding: 5px;
	max-width: 100%;
}



/***************************************
HEADING
****************************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: 'Changa One', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-size: 0.75em;
	margin: -5px 0 0;
	font-weight: normal;
}



/***************************************
NAVIGATION
****************************************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin:0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}



/***************************************
FOOTER
****************************************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
}



/***************************************
PAGE: START
****************************************/

.task, .first, .second, .third {
	margin: 0 0 3em 0;
	
}

.task {
	font-size: 1.75em;
}

.task, h4 {	
	text-align: center;
}

.why {
	margin-top: -30px;
}

.first, .second, .third {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
	margin-top: 50px;
}



/***************************************
PAGE: CONTACT
****************************************/

h3 {
	margin: 0;
}

.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}

.contact-info li.mail a {
	background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
	background-image: url('../img/twitter.png');
}
	  


/***************************************
COLORS
****************************************/

/* site body */
body {
	background-color: #fff;
	color: #999;
}

/* blue header */
header {
	background: #fff;
	border-color: #fff;
}

/* nav background on mobile */
nav {
	background: #17405C;
}

/* logo text */
h1, h2 {
	color: #2e80b9;
}

/* links */
a {
	color: #2e80b9;
}

/* nav link */
nav a, nav a:visited {
	color: #2e80b9;
}

/* selected nav link */
nav a.selected, nav a:hover {
	color: #abcce3;
}

/* footer */
footer {
color: #ccc;
}
